.text-color {
    color: #e34c67;
}

.single-upload__container{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    max-height: 500px;
    max-width: 500px;
}

.single-upload__fieldset{
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 50%;
    border: 3px solid #e34c67;
    color: #e34c67;

}
