.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 50vh;
}

.fieldset-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    border: 3px solid #e34c67;
    color: #e34c67;
}

.label-container{
    display: flex;
    flex-wrap: wrap;
    width: 15vw;
}

label{
    display: flex;
    flex-basis: 200px;
}

input[type='radio']:after {
    width: 10px;
    height: 10px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 10px;
    height: 10px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #e34c67;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

button {
    background: linear-gradient(to right, #ef5f67, #e34c67);
    color: white;
    --width: 100px;
    --height: calc(var(--width) / 3);
    width: var(--width);
    height: var(--height);
    text-align: center;
    line-height: var(--height);
    font-size: calc(var(--height) / 2.5);
    font-family: sans-serif;
    letter-spacing: 0.2em;
    border: 2px solid black;
    border-radius: 2em;
    transform: perspective(500px) rotateY(-15deg);
    text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    position: relative;
    overflow: hidden;
}

button:hover {
    transform: perspective(500px) rotateY(15deg);
    text-shadow: -6px 3px 2px rgba(0, 0, 0, 0.2);
    box-shadow: -2px 0 0 5px rgba(0, 0, 0, 0.2);
}

button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, white, transparent);
    left: -100%;
    transition: 0.5s;
}

button:hover::before {
    left: 100%;
}
